---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Companies from "@components/Companies.astro";
---

<Layout>
  <Header activeNav="companies" />
  <main id="main-content" class="py-8">
    <Companies />
  </main>
  <Footer />
</Layout>
