---
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";
import { t } from "@i18n/utils";
import type { Lang } from "@i18n/ui";
import { defaultLang } from "@i18n/ui";

export interface Props {
  lang?: Lang;
}

const { lang = defaultLang } = Astro.props;

const URL = Astro.url;

const shareLinks = [
  {
    name: "WhatsApp" as const,
    href: "https://wa.me/?text=",
    linkTitle: t(lang, "share.whatsapp"),
  },
  {
    name: "Facebook" as const,
    href: "https://www.facebook.com/sharer.php?u=",
    linkTitle: t(lang, "share.facebook"),
  },
  {
    name: "Twitter" as const,
    href: "https://twitter.com/intent/tweet?url=",
    linkTitle: t(lang, "share.twitter"),
  },
  {
    name: "Telegram" as const,
    href: "https://t.me/share/url?url=",
    linkTitle: t(lang, "share.telegram"),
  },
  {
    name: "Pinterest" as const,
    href: "https://pinterest.com/pin/create/button/?url=",
    linkTitle: t(lang, "share.pinterest"),
  },
  {
    name: "Mail" as const,
    href: "mailto:?subject=See%20this%20post&body=",
    linkTitle: t(lang, "share.email"),
  },
];
---

<div class={`social-icons`}>
  <span class="italic">{t(lang, "share.title")}</span>
  <div class="flex flex-wrap justify-center gap-3 text-center">
    {
      shareLinks.map(social => (
        <LinkButton
          href={`${social.href + URL}`}
          className="link-button"
          title={social.linkTitle}
        >
          <Fragment set:html={socialIcons[social.name]} />
          <span class="sr-only">{social.linkTitle}</span>
        </LinkButton>
      ))
    }
  </div>
</div>

<style>
  @reference "../styles/base.css";
  .social-icons {
    @apply flex flex-col flex-wrap items-center justify-center gap-1 sm:items-start;
  }
  .link-button {
    @apply scale-90 p-2 hover:rotate-6 sm:p-1;
  }
</style>
