---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  now: CollectionEntry<"now">;
}

const { now } = Astro.props;

const { Content } = await now.render();
---

<Layout title={`${SITE.title}`}>
  <Header activeNav="now" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="now" class="prose mb-28 max-w-4xl prose-img:border-0">
      <h3>Updated {now.data.header}</h3>
      <p>
        Something in my past. <a href="/before"
          >You can see other updates here.</a>
      </p>
      <Content />
    </section>
  </main>
  <Footer />
</Layout>
