---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import type { CollectionEntry } from "astro:content";
import Datetime from "@components/Datetime";
import { YouTube } from "astro-embed";

export interface Props {
  idea: CollectionEntry<"ideas">;
}

const { idea } = Astro.props;
const { Content } = await idea.render();
---

<Layout title={`${SITE.title}`}>
  <Header activeNav="ideas" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="idea" class="prose mb-28 max-w-4xl prose-img:border-0">
      <h2>{idea.data.title}</h2>
      <Content />
    </section>
  </main>
  <Footer />
</Layout>
