---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import { SITE } from "@config";

const talks = await getCollection("talks");

const sortedTalks = talks
  .sort(
    (a, b) =>
      new Date(b.data.pubDatetime).getTime() -
      new Date(a.data.pubDatetime).getTime()
  )
  .filter(({ data }) => !data.draft);
---

<Layout title={`Talks | ${SITE.title}`}>
  <Header activeNav="talks" />
  <Main pageTitle="Talks" pageDesc="Talks and presentations I've given.">
    <p class="prose text-skin-base text-lg">
      If you would like to book me for a talk please <a
        href="https://cal.com/salomuriel/15min"
        >schedule a 15 minute call on this link</a
      > to talk details!
    </p>
    <hr class="my-8 border-skin-accent" />
    <ul>
      {
        sortedTalks.map(({ data, slug }) => (
          <Card href={`/talks/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
